body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.weather-app{
    background-color: rgb(0, 179, 255);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden{
    display: none;
}

.forecast-container{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-top: 1rem;
}

.forecast-day{
    text-align: center;
    min-width: 80px;
    background: #f0f0f0;
    padding: 0.5rem;
    border-radius: 7px;
}

.forecast-day img{
    width: 60px;
    height: 60px;
    margin: 0.25rem 0;
}

#weather-icon{
    width: 80px;
    margin-top: 10px;
}

input{
    padding: 0.5rem;
    width: 200px;
    margin-right: 0.5rem;
    border-radius: 7px;
    border: 1px solid #ccc;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: none;
    background-color: #3487db;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #2967b9;
}

.weather-result{
    margin-top: 1rem;
}